/* Footer */
.footer {
    border-top: #ccc 2px solid;
    padding: 40px 0 0;
    bottom: 0;
}

.about{
    display: flex;
    justify-content: center;
}

.about__rules,
.about__copyright{
    font-size: 12px;
    text-align: center;
    width: 70%;
}

.about__rules{
    color: var(--text-color-2);
}